<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Dashboard - NiceAdmin Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">


    @Html.Partial("_Styles")

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

            <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
            </div><!-- End Search Bar -->

    <!-- ======= Header ======= -->
    @Html.Partial("_Header")

    <!-- ======= Menú vertical ======= -->
    @Html.Partial("_SidebarMenu")

    <main id="main" class="main">

        <!-- ======= Menú vertical ======= -->
        @Html.Partial("_SidebarMenu")

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @Html.Partial("_Footer")
    

            @RenderBody()

    @Html.Partial("_Scripts")

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

        @await Component.InvokeAsync("Notyf")
        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>