@model SectionDTO

@{
    ViewData["Title"] = "Sección";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Sección</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    <div class="row">

        <h1>@Model.Name</h1>

        <form class="" asp-action="Dashboard" method="GET">
            <input type="hidden" name="Page" value="@Model.PaginatedBlogs.CurrentPage" />
            <div class="row mt-3">
                <div class="col-md-auto">

                    <select name="RecordsPerPage" class="form-select border-0 small" asp-for="PaginatedBlogs.RecordsPerPage">
                        <option value="2" selected="@(Model.PaginatedBlogs.RecordsPerPage == 2)">2</option>
                        <option value="10" selected="@(Model.PaginatedBlogs.RecordsPerPage == 10)">10</option>
                        <option value="15" selected="@(Model.PaginatedBlogs.RecordsPerPage == 15)">15</option>
                        <option value="30" selected="@(Model.PaginatedBlogs.RecordsPerPage == 30)">30</option>
                        <option value="50" selected="@(Model.PaginatedBlogs.RecordsPerPage == 50)">50</option>
                    </select>

                </div>

                <div class="col-md-10">
                    <div class="input-group-mb-3">
                        <input type="text"
                               class="form-control border-0 small"
                               placeholder="Buscar..."
                               aria-label="search"
                               asp-for="PaginatedBlogs.Filter">
                    </div>
                </div>

                <div class="col-md-auto">

                    <div class="input-group-mb-3">
                        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>

            </div>

        </form>
        <div class="row mt-3">
            @foreach (var item in Model.PaginatedBlogs.List)
            {
                <div class="col-md-5 m-2">
                    <a asp-action="Blog" asp-route-id="@item.Id" class="btn btn-outline-success form-control">@item.Name</a>
                </div>
            }
        </div>

        @await Html.PartialAsync("~/Views/Shared/_PaginationComponent.cshtml", Model.PaginatedBlogs)

    </div>
</section>